* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Varela Round", sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  background-color: transparent; /* Color de fondo de la barra de scroll */
}
