.back {
  position: absolute;
  font-size: 80px;
  margin-top: 20px;
  margin-left: 30px;
  color: #ffffffdb;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.back:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  color: #fff;
  opacity: 0.6;
}
.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/lugia.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
  color: aliceblue;
}

.background {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.formContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  max-width: 500px;
  padding: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: rgba(100, 148, 237, 0.876);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.formContainer:hover {
  box-shadow: -5px 5px 5px 0px rgba(255, 255, 255, 0.75);
}
.formContainer input {
  outline: none;
  border: none;
}
.formContainer p {
  min-height: 20px;
}
.nameImgContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.nameImgContainer label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 23px;
}
.nameImgContainer input {
  width: 80%;
  height: 35px;
  padding: 5px;
  font-size: 16px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  font-family: "Varela Round", sans-serif;
  font-weight: 500;
}
.nameImgContainer input:focus {
  box-shadow: -3px 3px 3px 0px rgba(72, 72, 72, 0.75);
}
.nameImgContainer p {
  margin-bottom: 10px;
  font-size: 16px;
}
.nameImgContainer .nombre {
  width: 40%;
}
.dualContainer {
  display: flex;
}
.dualContainer div {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  column-gap: 10px;
}
.dualContainer label {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
.dualContainer input {
  min-width: 100px;
  width: 50%;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  height: 35px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.dualContainer input:focus {
  box-shadow: -3px 3px 3px 0px rgba(72, 72, 72, 0.75);
}
.dualContainer p {
  margin-bottom: 10px;
}
.preview img {
  max-width: 180px;
  max-height: 180px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
.alertTypes {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 17px;
}
.alertTypes strong {
  color: rgb(45, 255, 122);
  font-weight: 500;
}
.typesContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 20px;
  gap: 10px;
  margin-bottom: 10px;
}
.typesContainer label {
  display: block;
  width: 80px;
  border: 1px solid #fff;
  background-color: rgb(0, 182, 248);
  border-radius: 10px;
  padding: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
}
.typesContainer span {
  font-weight: 400;
}

.typesContainer label:hover {
  background-color: rgb(251, 189, 231);
}

.typesContainer img {
  width: 45px;
  cursor: pointer;
}

.typeSpan {
  text-align: center;
  font-size: 13px;
}

.imgSpanContainer {
  display: flex;
  justify-content: space-around;
}
.error {
  color: #f00;
}

.btn {
  appearance: button;
  align-self: center;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 150px;
}

.btn:after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.btn:main,
.btn:focus {
  user-select: auto;
}

.btn:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.btn:disabled {
  cursor: auto;
}
