.cardContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  width: 380px;
  height: 250px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background: linear-gradient(to right, #636363e2, #a1ab58e2);
  overflow: hidden;
  box-shadow: -4px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -4px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
.cardContainer h3 {
  text-transform: capitalize;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  color: transparent;
  background: linear-gradient(90deg, #75fb00, #230051);
  letter-spacing: 2px;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  animation: text 5s linear infinite;
  -webkit-animation: text 5s linear infinite;
}

@keyframes text {
  0% {
    filter: hue-rotate(0deg);
    -webkit-filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
    -webkit-filter: hue-rotate(360deg);
  }
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.noShiny {
  font-size: 60px;
  color: #777;
  cursor: no-drop;
}

.buttonShiny {
  font-size: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: transparent;
  cursor: pointer;
  color: rgb(2, 255, 32);
  animation: cambiarColor 3s infinite ease-out;
  -webkit-animation: cambiarColor 3s infinite ease-out;
}

.buttonNormal {
  font-size: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}

.typesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.typeImg {
  max-width: 50px;
  max-height: 50px;
}

.pokeImg {
  width: 50%;
  max-height: 230px;
  object-fit: cover;
  cursor: pointer;
  filter: drop-shadow(-6px 8px 8px #000);
  -webkit-filter: drop-shadow(-6px 8px 8px #000);
}

@keyframes cambiarColor {
  0% {
    color: rgb(229, 255, 0);
  }
  25% {
    color: rgb(115, 225, 255);
  }
  50% {
    color: rgb(229, 255, 0);
  }
  75% {
    color: rgb(115, 225, 255);
  }
  100% {
    color: rgb(229, 255, 0);
  }
}
