.searchContainer {
  display: flex;
}
.searchContainer button {
  width: 50px;
  background-color: transparent;
  border: none;
  font-size: 40px;
  cursor: pointer;
  padding: 5px;
}
.input {
  display: flex;
  flex-direction: column;
  background-color: #1cb1f6ce;
  text-align: center;
  color: #fff;
  padding: 10px;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.input input {
  font-size: 16px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  height: 30px;
}
